.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  background-color: white;
  font-family: 
}

button{
  height: 50px;
  width: 50px;
  margin: 4px;
  border-radius: 5px;
}

button:focus{
  outline:0;
}

button:active{
  border: lightgrey inset 2px;
}

.expression-display{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 4px;
  padding-right: 4px
}


.history-section{
  width:100%
}

.expression-row{
  display: flex;
  justify-content: center;
}
